/* || Base CSS file for "Music Trainer" */

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background-image: url(../images/greenboard.jpg);
    background-attachment: contain;
    font-family: alegreya-sans, sans-serif;
    font-weight: 300;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: alegreya, serif;
    font-weight: 700;
    font-style: italic;
}



