html {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.l-paper-bg {
    background-image: url(../images/solid.png);
    background-attachment: fixed;

}

.grid-container {
    grid-template-areas:
        "header ....... notes notes ....... scores"
        "messages ....... notes notes ....... scores"
        "messages ....... notes notes ....... ......."
        "messages ....... notes notes ........ key"
        "instrument ....... notes notes ........ mode"
        "instrument ....... notes notes ....... options";
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 150px auto 200px 200px auto 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    max-width: 1200px;
    height: 100vh;
    padding: 30px;
    margin: 0 auto;
}

.grid-container>div {
    border-radius: 10px;
    padding: 8px;
}

/* NOTE GRID */

.note-container {
    grid-area: notes;
    grid-template-areas:
        "C5 C5 C5"
        "B B B"
        "Bb Bb Bb"
        "A A A"
        "Ab Ab Ab"
        "G G G"
        "Gb Gb Gb"
        "F F F"
        "E E E"
        "Eb Eb Eb"
        "D D D"
        "Db Db Db"
        "C4 C4 C4";
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #181818;
}

.note-container>button {
    z-index: 20;
    border-radius: 10px;
    background-color: ivory;
}

.wrap {
    position: relative;
    
    width: 100%;
}

.wrap div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
}

.wrap button {
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 130px;
    height: 100%;
    min-height: 40px;

    background-color: ivory;
    border-radius: 10px;
}

.C5 {
    grid-area: C5;
    display: none;
}

.B {
    grid-area: B;
    display: none;
}

.Bb {
    grid-area: Bb;
    display: none;
}

.A {
    grid-area: A;
    display: none;
}

.Ab {
    grid-area: Ab;
    display: none;
}

.G {
    grid-area: G;
    display: none;
}

.Gb {
    grid-area: Gb;
    display: none;
}

.F {
    grid-area: F;
    display: none;
}

.E {
    grid-area: E;
    display: none;
}

.Eb {
    grid-area: Eb;
    display: none;
}

.D {
    grid-area: D;
    display: none;
}

.Db {
    grid-area: Db;
    display: none;
}

.C4 {
    grid-area: C4;
    display: none;
}

button:focus {
    outline: none;
}

.note1 {
    grid-area: note1;
}

.note2 {
    grid-area: note2;
}

.note3 {
    grid-area: note3;
}

.note4 {
    grid-area: note4;
}

.note5 {
    grid-area: note5;
}

.note6 {
    grid-area: note6;
}

.note7 {
    grid-area: note7;
}

.note8 {
    grid-area: note8;
}

.note9 {
    grid-area: note9;
}

.note10 {
    grid-area: note10;
}

.note11 {
    grid-area: note11;
}

.note12 {
    grid-area: note12;
}

.note13 {
    grid-area: note13;
}


.solf1 {
    grid-area: solf1;
}

.solf2 {
    grid-area: solf2;
}

.solf3 {
    grid-area: solf3;
}

.solf4 {
    grid-area: solf4;
}

.solf5 {
    grid-area: solf5;
}

.solf6 {
    grid-area: solf6;
}

.solf7 {
    grid-area: solf7;
}

.solf8 {
    grid-area: solf8;
}

.solf9 {
    grid-area: solf9;
}

.solf10 {
    grid-area: solf10;
}

.solf11 {
    grid-area: solf11;
}

.solf12 {
    grid-area: solf12;
}

.solf13 {
    grid-area: solf13;
}


.pitch1 {
    grid-area: pitch1;
}

.pitch2 {
    grid-area: pitch2;
}

.pitch3 {
    grid-area: pitch3;
}

.pitch4 {
    grid-area: pitch4;
}

.pitch5 {
    grid-area: pitch5;
}

.pitch6 {
    grid-area: pitch6;
}

.pitch7 {
    grid-area: pitch7;
}

.pitch8 {
    grid-area: pitch8;
}

.pitch9 {
    grid-area: pitch9;
}

.pitch10 {
    grid-area: pitch10;
}

.pitch11 {
    grid-area: pitch11;
}

.pitch12 {
    grid-area: pitch12;
}

.pitch13 {
    grid-area: pitch13;
}

.header {
    grid-area: header;
    background-color: rgba(128, 125, 125, .3);
}

.scores {
    grid-area: scores;
    background-color: rgba(128, 125, 125, .3);
}

.instrument {
    grid-area: instrument;
    background-color: rgba(128, 125, 125, .3);
}

.messages {
    grid-area: messages;
    background-color: rgba(128, 125, 125, .3);
}

.key {
    grid-area: key;
    background-color: rgba(128, 125, 125, .3);
}

.mode {
    grid-area: mode;
    background-color: rgba(128, 125, 125, .3);
}

.options {
    grid-area: options;
    background-color: rgba(128, 125, 125, .3);

}

.pitch {
    z-index: 15;
    position: absolute;
    right: 50px;
    height: 38px;
    min-height: 35px;

    padding: 11px;
    border-radius: 14px;
    align-self: center;
    background-color: #222224;
    text-align: right;
    font-size: 18px;
    color: #bbb;
    width: 100px;
    display: inline-block;

}

.syllable {
    z-index: 10;
    background-color: #222224;
    height: 38px;
    min-height: 35px;
    padding: 11px;
    font-size: 18px;
    border-radius: 14px;
    position: absolute;
    left: 50px;
    color: #bbb;
    width: 100px;
    display: inline-block;
}