/* Layout CSS file for "Music Trainer" */

:root {
    --pianokey: ivory;
    --keyhover: rgb(69, 103, 79);
}




html {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.l-paper-bg {
    background-image: url(../images/solid.png);
    background-attachment: fixed;
}

.grid-container {
    grid-template-areas:
        "header ....... notes notes ....... scores"
        "messages ....... notes notes ....... scores"
        "messages ....... notes notes ....... cadences"
        "messages ....... notes notes ........ cadences"
        "instrument ....... notes notes ........ options"
        "mode ....... notes notes ....... options";
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 150px auto 200px 200px auto 150px;
    grid-template-rows: repeat(6, fr);
    grid-gap: 15px;
    max-width: 1200px;
    height: 100vh;
    padding: 30px;
    margin: 0 auto;
}

.grid-container>div {
    border-radius: 10px;
    padding: 8px;
}

/* NOTE GRID */

.note-container {
    grid-area: notes;
    grid-template-areas:
        "C5 C5 C5"
        "B4 B4 B4"
        "Bb4 Bb4 Bb4"
        "A4 A4 A4"
        "Ab4 Ab4 Ab4"
        "G4 G4 G4"
        "Gb4 Gb4 Gb4"
        "F4 F4 F4"
        "E4 E4 E4"
        "Eb4 Eb4 Eb4"
        "D4 D4 D4"
        "Db4 Db4 Db4"
        "C4 C4 C4"
        "B3 B3 B3"
        "Bb3 Bb3 Bb3"
        "A3 A3 A3"
        "Ab3 Ab3 Ab3"
        "G3 G3 G3"
        "Gb3 Gb3 Gb3";
    
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(19, fr);
    grid-gap: 4px;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #181818;
}

.note-container>button {
    z-index: 20;
    border-radius: 10px;
    background-color: ivory;
}

.wrap {
    position: relative;
    width: 100%;
    cursor: pointer;
    opacity: 0.1;
}

.wrap div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
}

.wrap button {
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 130px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--pianokey);
    cursor: pointer;
    transition: background-color .2s;
}

.C5 {
    grid-area: C5;
    display: inline-block;
}

.C5 button:hover {
    background-color: var(--keyhover0);
}

.B4 {
    grid-area: B4;
    display: inline-block;
}

.B4 button:hover {
    background-color: var(--keyhover1);
}

.Bb4 {
    grid-area: Bb4;
    display: inline-block;
}

.Bb4 button:hover {
    background-color: var(--keyhover2);
}

.A4 {
    grid-area: A4;
    display: inline-block;
}

.A4 button:hover {
    background-color: var(--keyhover3);
}

.Ab4 {
    grid-area: Ab4;
    display: inline-block;
}

.Ab4 button:hover {
    background-color: var(--keyhover4);
}

.G4 {
    grid-area: G4;
    display: inline-block;
}
.G4 button:hover {
    background-color: var(--keyhover5);
}

.Gb4 {
    grid-area: Gb4;
    display: inline-block;
}

.Gb4 button:hover {
    background-color: var(--keyhover6);
}

.F4 {
    grid-area: F4;
    display: inline-block;
}

.F4 button:hover {
    background-color: var(--keyhover7);
}

.E4 {
    grid-area: E4;
    display: inline-block;
}

.E4 button:hover {
    background-color: var(--keyhover8);
}

.Eb4 {
    grid-area: Eb4;
    display: inline-block;
}

.Eb4 button:hover {
    background-color: var(--keyhover9);
}

.D4 {
    grid-area: D4;
    display: inline-block;
}

.D4 button:hover {
    background-color: var(--keyhover10);
}

.Db4 {
    grid-area: Db4;
    display: inline-block;
}

.Db4 button:hover {
    background-color: var(--keyhover11);
}

.C4 {
    grid-area: C4;
    display: inline-block;
}

.C4 button:hover {
    background-color: var(--keyhover12);
}

.B3 {
    grid-area: B3;
    display: inline-block;
}

.B3 button:hover {
    background-color: var(--keyhover13);
}

.Bb3 {
    grid-area: Bb3;
    display: inline-block;
}

.Bb3 button:hover {
    background-color: var(--keyhover14);
}

.A3 {
    grid-area: A3;
    display: inline-block;
}

.A3 button:hover {
    background-color: var(--keyhover15);
}

.Ab3 {
    grid-area: Ab3;
    display: inline-block;
}

.Ab3 button:hover {
    background-color: var(--keyhover16);
}

.G3 {
    grid-area: G3;
    display: inline-block;
}

.G3 button:hover {
    background-color: var(--keyhover17);
}

.Gb3 {
    grid-area: Gb3;
    display: inline-block;
}

.Gb3 button:hover {
    background-color: var(--keyhover18);
}

button:focus {
    outline: none;
}


.header {
    grid-area: header;
    background-color: rgba(128, 125, 125, .3);
}

.scores {
    grid-area: scores;
    background-color: rgba(128, 125, 125, .3);
    overflow-y: scroll; 
    overflow-x: hidden;
}

.instrument {
    grid-area: instrument;
    background-color: rgba(128, 125, 125, .3);
}

.messages {
    grid-area: messages;
    background-color: rgba(128, 125, 125, .3);
}

.cadences {
    grid-area: cadences;
    background-color: rgba(128, 125, 125, .3);
}

.mode {
    grid-area: mode;
    background-color: rgba(128, 125, 125, .3);
}

.options {
    grid-area: options;
    background-color: rgba(128, 125, 125, .3);
}

.degree {
    z-index: 15;
    position: absolute;
    right: 50px;
    height: 38px;
    min-height: 35px;
    padding: 11px;
    border-radius: 14px;
    align-self: center;
    background-color: #222224;
    text-align: right;
    font-size: 20px;
    color: #bbb;
    width: 100px;
    display: inline-block;

}

.degree span {
    float: right;
    margin-left: 5px;
}

.syllable {
    z-index: 10;
    background-color: #222224;
    height: 38px;
    min-height: 35px;
    padding: 11px;
    font-size: 18px;
    border-radius: 14px;
    position: absolute;
    left: 50px;
    color: #bbb;
    width: 100px;
    display: inline-block;
}

.syllable span {
    float: left;
    margin-right: 5px;
}

.degree-hat {
    position: relative;
    top: -8px;
    left: -11.5px;
    font-size: 1px;
}

.degree-hat-accidental {
    position: relative;
    top: -9px;
    left: -15px;
    font-size: 1px;
}

.anim-light-up {
    background-color: rgb(0, 78, 22);
    animation: note-light 1.5s;
}

@keyframes note-light {
    0%     {background-color: rgb(0, 78, 22);}
    50%     {background-color: rgb(0, 78, 22);}
    100%    {background-color: #181818;}
}


/* intro screen  */
.welcome-greeting {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.welcome-greeting h1 {
    font-size: 60px;
}

.welcome-greeting h2 {
    font-size: 30px;
}

.welcome-greeting ul {
    font-size: 26px;
}

.welcome-greeting li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 700;
}


/* tempo trainer  */

.tempo-box {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tempo-box h1 {
    font-size: 50px;
}

.tempo-box h2 {
    font-size: 30px;
}

.tempo-box p {
    width: 200px;
    height: 100px;
    font-size: 24px;
    margin: 25px auto;
    border: 5px solid #181818;
    border-radius: 5px;
    background-color: ivory;
}

.tempo-box button {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: darkblue;
    color: ivory;
    font-size: 30px;
}

.free-mode-display {
    margin: 10px 15px -10px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: grey;
}

.color-box {
    position: absolute;
    left: -50px;
    display: none;

}

.wrap input {
    display: none;
    position: absolute;

}

/* .color-pick {
    
} */



/* END of document */
