
/* NOTE GRID */

.grid-container {
    grid-template-areas:
        "header ....... notes notes ....... instrument"
        "messages ....... notes notes ....... mode"
        "messages ....... notes notes ....... cadences"
        "messages ....... notes notes ........ cadences"
        "scores ....... notes notes ........ options"
        "scores ....... notes notes ....... options";
}

.note-container {
    grid-area: notes;
    grid-template-areas:
        "C5 C5 C5"
        "B4 B4 B4"
        "Bb4 Bb4 Bb4"
        "A4 A4 A4"
        "Ab4 Ab4 Ab4"
        "G4 G4 G4"
        "Gb4 Gb4 Gb4"
        "F4 F4 F4"
        "E4 E4 E4"
        "Eb4 Eb4 Eb4"
        "D4 D4 D4"
        "Db4 Db4 Db4"
        "C4 C4 C4"
        "B3 B3 B3"
        "Bb3 Bb3 Bb3"
        "A3 A3 A3"
        "Ab3 Ab3 Ab3"
        "G3 G3 G3"
        "Gb3 Gb3 Gb3";

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(19, fr);
    grid-gap: 4px;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #181818;
}

.note-container>button {
    z-index: 20;
    border-radius: 10px;
    background-color: ivory;
}

.wrap {
    position: relative;
    width: 100%;
    cursor: pointer;
    opacity: 0.1;
    pointer-events: none;
    transition: background-color .1s;
}

.wrap div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
}

.note-btn {
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 130px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--pianokey);
    cursor: pointer;
}

.C5 {
    grid-area: C5;
    display: inline-block;
}

.C5 button:hover {
    background-color: var(--keyhover0);
}



.B4 {
    grid-area: B4;
    display: inline-block;
}

.B4 button:hover {
    background-color: var(--keyhover1);
}


.Bb4 {
    grid-area: Bb4;
    display: inline-block;
}

.Bb4 button:hover {
    background-color: var(--keyhover2);
}

.A4 {
    grid-area: A4;
    display: inline-block;
}

.A4 button:hover {
    background-color: var(--keyhover3);
}



.Ab4 {
    grid-area: Ab4;
    display: inline-block;
}

.Ab4 button:hover {
    background-color: var(--keyhover4);
}

.G4 {
    grid-area: G4;
    display: inline-block;
}

.G4 button:hover {
    background-color: var(--keyhover5);
}


.Gb4 {
    grid-area: Gb4;
    display: inline-block;
}

.Gb4 button:hover {
    background-color: var(--keyhover6);
}

.F4 {
    grid-area: F4;
    display: inline-block;
}

.F4 button:hover {
    background-color: var(--keyhover7);
}

.E4 {
    grid-area: E4;
    display: inline-block;
}

.E4 button:hover {
    background-color: var(--keyhover8);
}

.Eb4 {
    grid-area: Eb4;
    display: inline-block;
}

.Eb4 button:hover {
    background-color: var(--keyhover9);
}



.D4 {
    grid-area: D4;
    display: inline-block;
}

.D4 button:hover {
    background-color: var(--keyhover10);
}

.Db4 {
    grid-area: Db4;
    display: inline-block;
}

.Db4 button:hover {
    background-color: var(--keyhover11);
}

.C4 {
    grid-area: C4;
    display: inline-block;
}

.C4 button:hover {
    background-color: var(--keyhover12);
}

.B3 {
    grid-area: B3;
    display: inline-block;
}

.B3 button:hover {
    background-color: var(--keyhover13);
}

.Bb3 {
    grid-area: Bb3;
    display: inline-block;
}

.Bb3 button:hover {
    background-color: var(--keyhover14);
}

.A3 {
    grid-area: A3;
    display: inline-block;
}

.A3 button:hover {
    background-color: var(--keyhover15);
}

.Ab3 {
    grid-area: Ab3;
    display: inline-block;
}

.Ab3 button:hover {
    background-color: var(--keyhover16);
}

.G3 {
    grid-area: G3;
    display: inline-block;
}

.G3 button:hover {
    background-color: var(--keyhover17);
}

.Gb3 {
    grid-area: Gb3;
    display: inline-block;
}

.Gb3 button:hover {
    background-color: var(--keyhover18);
}


button:focus {
    outline: none;
}

